<!DOCTYPE html>
<html>
    <head>
        <title>Passport Local Strategy Athentication</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <h1><span class="fa fa-lock"></span> Authentication</h1>
                <p>Login or Register with:</p>
                <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local login</a>
                <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local signup</a>
            </div>
        </div>
    </body>
</html>